* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to top, #ED8B00, white);
  color: #333;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  background: linear-gradient(to bottom, #ED8B00, #ff782a);
  color: white;
  padding: 15px 80px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.brand {
  font-size: 18.5px;
  padding-bottom: 5px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px #666, -1px -1px 3px #000000, 1px 1px #666, 1px 1px #000000;
  transition: all 0.5s ease;
}

.brand:hover {
  transform: scale(1.1);
}

.brand:active {
  transform: scale(1.1);
}

.side {
  display: flex;
  align-items: center;
  gap: 20px;
}

#langToggle {
  appearance: none;
  display: flex;
  width: 39px;
  height: 39px;
  background-image: url('things/translator.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#langToggle:checked {
  filter: brightness(1.5);
}

.toggle-btn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 3px #666, -1px -1px 3px #000000, 1px 1px #666, 1px 1px #000000;
}

.toggle-btn:active {
  font-size: 20px;
}

/* Desktop nav */
.nav-links {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: end;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff5e00;
}

/* Offcanvas (Mobile Menu) */
.offcanvas {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right, #ff782a, #ED8B00);
  color: white;
  padding: 20px;
  transition: left 0.4s ease;
  z-index: 20;
}

.offcanvas.show {
  left: 0;
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#closeBtn {
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 3px #666, -1px -1px 3px #000000, 1px 1px #666, 1px 1px #000000;
}

.offcanvas-links {
  list-style: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-shadow: 1px 1px 3px #666, -1px -1px 3px #000000, 1px 1px #666, 1px 1px #000000;
}

.offcanvas-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Responsive */
@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .navbar {
    padding: 15px 10px;
  }

  .toggle-btn {
    display: block;
  }
}

/* Main content */

.main-heading {
  font-size: 2em;
  color: #ED8B00;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 1.3em;
  }
}

.intro-text {
  font-size: 1.1em;
  line-height: 1.8em;
  margin-bottom: 20px;
  padding: 0 10px;
}

.features-list {
  list-style: none;
  padding: 0;
  text-align: left;
  line-height: 2em;
  font-size: 1em;
  margin-top: 10px;
}

.features-list li {
  background: white;
  border-left: 6px solid #ED8B00;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease;
}

.features-list li:hover {
  border-left: 100px solid #ED8B00;
}

.features-list li:active {
  border-left: 100px solid #ED8B00;
}

@media (max-width: 768px) {
  .features-list li:hover {
    border-left: 50px solid #ED8B00;
  }

  .features-list li:active {
    border-left: 50px solid #ED8B00;
  }
}

.btn-start {
  position: relative;
  display: inline-block;
  padding: 20px 50px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px;
  background: linear-gradient(270deg, yellow, orange, #ff782a);
  background-size: 400% 400%;
  animation: gradientShift 6s ease infinite;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  text-shadow: 10px 50px 50px rgba(255, 255, 255, 0.4);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.btn-start:hover {
  filter: brightness(1.1);
}

.btn-start:active {
  transform: scale(0.95);
}