* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
  color: #333;
}

/* Navbar */
.navbar {
  background: linear-gradient(to bottom, #ED8B00, #ff782a);
  color: white;
  padding: 15px 90px;
  position: relative;
  transition: all  0.5s ease;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 24px;
  padding-bottom: 5px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px #666, -1px -1px 3px #000000, 1px 1px #666, 1px 1px #000000;
  transition: all  0.5s ease;
}

.brand:hover {
  transform: scale(1.3);
}

.brand:active {
  transform: scale(1.3);
}

.toggle-btn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 3px #666, -1px -1px 3px #000000, 1px 1px #666, 1px 1px #000000;
}

.toggle-btn:active{
    font-size: 20px;
}

/* Desktop nav */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff5e00;
}

/* Offcanvas (Mobile Menu) */
.offcanvas {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right, #ff782a , #ED8B00);
  color: white;
  padding: 20px;
  transition: left 0.4s ease;
  z-index: 20;
}

.offcanvas.show {
  left: 0;
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#closeBtn {
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 3px #666, -1px -1px 3px #000000, 1px 1px #666, 1px 1px #000000;
}

.offcanvas-links {
  list-style: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-shadow: 1px 1px 3px #666, -1px -1px 3px #000000, 1px 1px #666, 1px 1px #000000;
}

.offcanvas-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Responsive */
@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .navbar{
    padding: 15px 10px;
  }

  .toggle-btn {
    display: block;
  }
}

/* Main content */
.main-content {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}


#top1_img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}